
body{
    background-image: url("http://www.scalsys.com/backgrounds/crystal-backgrounds/crystal-backgrounds_202449.jpg");
    background-size: 100%;
}
h1 {
    text-align: center;
    color:coral;
    font-weight: bold;
    font-size:50px;
}

.container{
    display:flex;
    justify-content:space-around;    
}

#rules{
    margin-top:25px;
    margin-left:0px;
    
    width:350px;
    color :darkmagenta;
    font-style: italic;
    font-size: 130%;
    font-weight:bolder;
    border: 2px solid #704697;border-radius: 5px;padding:2px;
}

#userwinslosses{
    margin-top:30px;
    
 } 

#totalNumber, #userTotal{
    font-weight:bold;
    font-size:30px;
    color:blueviolet;
    
    margin-top:50px;
    margin-right:160px;
    
 }

 #userTotal{
     opacity: 0.0;
 }


#wins, #losses {
    color:darkorchid;

    font-weight: bolder;
    font-size:20px;

    margin-top:10px;
}

crystalContainer{
    display:flexbox;
    justify-content:space-between;
}

.crystals{
    
    margin-left:180px;
    margin-top:20px;    
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


#start{
    position:absolute;
    bottom:30px;
    right:45%;

    

    background-color:lightpink;
    color:blueviolet;
    border:none;
    font-weight:bold;
    font-size:20px;

    padding:10px;
  
    
}